ion-card {
  border-radius: 20px;
  flex-shrink: 5px;
  border: 1px solid #000;
  --background: rgba(178, 168, 210, 0.35);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
ion-card-subtitle {
  --color: black;
  margin-top: -10px;
 
}
ion-toggle{
  --track-background: #ddd;
  --track-background-checked: #ddd;
  // --handle-background: #eb7769;
  --handle-background-checked: #ddd;
  --handle-width: 25px;
  --handle-height: 25px;
  --handle-max-height: auto;
  /* --handle-spacing: 6px; */
  --handle-border-radius: 15px;
  --handle-box-shadow: none;
}

ion-toggle::part(track) {
  height: 26px;
  width: 45px;
  border: 1px solid #89d796;
  overflow: visible
}
.main-card{
margin-left: -10px;
margin-right: 10px;
}
.secondry-card-container{
margin-top: 15px;
}
.card-content{
  margin-left: -10px;
margin-right: 10px;
}
.toggle{
  margin-left: 10px;
 
}
.offence-image{
  height: 70px;
  width: 100px;
  margin: 5px;
  align-items: flex-start;
}


.secondry-card{
  margin-top: 15px;
}
.secondry-image{
  height: 60px;
  width: 130px;
  margin: 4px;
  align-items: flex-start;
}

  .pencil-icon {
    font-size: 26px;
    margin-bottom: 18px
  }
.edit-plate {
  height: 30px;
  width: 30px;
  position: relative;
}

.license-plate-input {
  width: 112px;
  height: 32px;
  margin-top: 8px;
  border-radius: 20px;
  background-color: rgba(216, 214, 224, 0.84);
}

.edit-icon {
  height: 23px;
  width: 23px;
  margin-right: 10px;
  margin-bottom: 7px;
  font-size: 25px;
}

.check-icon,
.close-icon {
  height: 45px;
  width: 23px;
  margin-left: 6px
}

@media only screen and (max-width: 380px) and (min-width: 370px){

  ion-card {
  border-radius: 20px;
  flex-shrink: 5px;
  border: 1px solid #000;
  --background: rgba(178, 168, 210, 0.35);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
ion-card-subtitle {
  --color: black;
  margin-top: -10px;
 
}
.main-card{
margin-left: -10px;
margin-right: 10px;
margin-top: -15px;
}
.secondry-card-container{
margin-top: -4px;
}
.card-content{
  margin-left: -10px;
margin-right: 10px;
}
.toggle{
  margin-left: 10px;
 
}
.offence-image{
  height: 40px;
  width: 60px;
  margin: 5px;
  align-items: flex-start;
}


.secondry-card{
  margin-top: -4px;
}
.secondry-image{
  height: 40px;
  width: 60px;
  margin: 4px;
  align-items: flex-start;
}

.pencil-icon {
  font-size: larger;
  margin-left: 15px;
  margin-top: 8px;
  text-align: center;
}

.edit-plate {
  height: 30px;
  width: 30px;
  position: relative;
}

.license-plate-input {
  width: 112px;
  height: 32px;
  margin-top: 8px;
  border-radius: 20px;
  background-color: rgba(216, 214, 224, 0.84);
}

.edit-icon {
  height: 23px;
  width: 23px;
  margin-right: 10px;
  margin-bottom: 7px;
  font-size: 25px;
}

.check-icon,
.close-icon {
  height: 45px;
  width: 23px;
  margin-left: 6px
}

}

@media only screen and (max-width: 365px) and (min-width: 300px){

  ion-card {
  border-radius: 20px;
  flex-shrink: 5px;
  border: 1px solid #000;
  --background: rgba(178, 168, 210, 0.35);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
ion-card-subtitle {
  --color: black;
  margin-top: -10px;
 
}
.main-card{
margin-left: -10px;
margin-right: 10px;
margin-top: -15px;
}

.card-content{
  margin-left: -10px;
margin-right: 10px;
}
.toggle{
  margin-left: 10px;
 
}
.offence-image{
  height: 50px;
  width: 60px;
  margin: 5px;
  align-items: flex-start;
}

.secondry-card-container{
  margin-top: 0px;
  }

.secondry-card{
  margin-top: 0px;
}
.secondry-image{
  height: 44px;
  width: 60px;
  margin: 4px;
  align-items: flex-start;
}

.pencil-icon {
  font-size: larger;
  margin-left: 15px;
  margin-top: 8px;
  text-align: center;
}

.edit-plate {
  height: 30px;
  width: 30px;
  position: relative;
}

.license-plate-input {
  width: 112px;
  height: 32px;
  margin-top: 8px;
  border-radius: 20px;
  background-color: rgba(216, 214, 224, 0.84);
}

.edit-icon {
  height: 23px;
  width: 23px;
  margin-right: 10px;
  margin-bottom: 7px;
  font-size: 25px;
}

.check-icon,
.close-icon {
  height: 45px;
  width: 23px;
  margin-left: 6px
}

}

@media only screen and (max-width: 400px) and (min-width: 390px){

  ion-card {
  border-radius: 20px;
  flex-shrink: 5px;
  border: 1px solid #000;
  --background: rgba(178, 168, 210, 0.35);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
 
}
ion-card-subtitle {
  --color: black;
  margin-top: -10px;  
 
}
.main-card{
margin-left: -10px;
margin-right: 10px;
margin-top: -15px;
}

.card-content{
  margin-left: -10px;
margin-right: 10px;
}
.toggle{
  margin-left: 10px;
 
}
.offence-image{
  height: 62px;
  width: 75px;
  margin: 5px;
  align-items: flex-start;
}

.secondry-card-container{
  margin-top: 0px;
  }
  
.secondry-card{
  margin-top: 0px;
}
.secondry-image{
  height: 55px;
  width: 80px;
  margin: 4px;
  align-items: flex-start;
}

.pencil-icon {
  font-size: larger;
  margin-left: 15px;
  margin-top: 8px;
  text-align: center;
}

.edit-plate {
  height: 30px;
  width: 30px;
  position: relative;
}

.license-plate-input {
  width: 112px;
  height: 32px;
  margin-top: 8px;
  border-radius: 20px;
  background-color: rgba(216, 214, 224, 0.84);
}

.edit-icon {
  height: 23px;
  width: 23px;
  margin-right: 10px;
  margin-bottom: 7px;
  font-size: 25px;
}

.check-icon,
.close-icon {
  height: 45px;
  width: 23px;
  margin-left: 6px
}

}

@media only screen and (max-width: 295px) and (min-width: 270px){
  ion-card {
    border-radius: 20px;
    flex-shrink: 5px;
    border: 1px solid #000;
    --background: rgba(178, 168, 210, 0.35);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
   
  }
  ion-card-subtitle {
    --color: black;
    margin-top: -10px;
    font-size: 11px;
    margin-left: 0px;
   
  }
  .main-card{
  margin-left: -10px;
  margin-right: 10px;
  margin-top: -15px;
  }
  
  .card-content{
    margin-left: -10px;
  margin-right: 10px;
  }
  .toggle{
    // margin-left: 10px;
    font-size: 13px;
   
  }
  .offence-image{
    height: 40px;
    width: 65px;
    margin: 5px;
    align-items: flex-start;
  }
  
  .secondry-card-container{
    margin-top: 0px;
    }
    
  .secondry-card{
    margin-top: 0px;
  }
  .secondry-image{
    height: 35px;
    width: 80px;
    margin: 4px;
    align-items: flex-start;
  }
  
  .pencil-icon {
    font-size: larger;
    margin-left: 1px;
    margin-top: 0px;
    text-align: center;
  }
  
  .edit-plate {
    height: 30px;
    width: 30px;
    position: relative;
  }
  
  .license-plate-input {
    width: 74px;
    height: 25px;
    margin-top: 8px;
    border-radius: 20px;
    background-color: rgba(216, 214, 224, 0.84);
  }
  
  .edit-icon {
    height: 23px;
    width: 23px;
    margin-right: 10px;
    margin-bottom: 7px;
    font-size: 25px;
  }
  
  .check-icon,
  .close-icon {
    // height: 45px;
    // width: 23px;
    margin-left: 2px;
    height: 11px;
    width: 10px;
    /* font-size: 63px; */
    text-align: center

  }
}